{
  "openapi": "3.1.0",
  "info": {
    "title": "Helix Commerce API",
    "version": "2.56.1",
    "description": "Catalog, configuration, orders, and auth API for the Helix Product Bus."
  },
  "servers": [
    {
      "url": "https://api.adobecommerce.live",
      "description": "Production"
    },
    {
      "url": "https://api-stage.adobecommerce.live",
      "description": "Staging"
    }
  ],
  "tags": [
    {
      "name": "Config",
      "description": "Per-site configuration: allowed origins, delivery sites, auth toggle, and reCAPTCHA settings. One config document per org/site. Optional `geoOverrides` entries are deep-merged over the base config for requests whose resolved country matches, letting one site serve multiple countries (e.g. distinct order ID prefixes) from the same domain."
    },
    {
      "name": "Catalog",
      "description": "Retrieve, create/replace, or delete a product by path. The literal path `/*` selects bulk mode: POST an array of products (max 50 per request)."
    },
    {
      "name": "Indices",
      "description": "Create or delete a query index identified by a path ending in `/index.json`. Creating an index queues existing products under that path for indexing."
    },
    {
      "name": "Orders",
      "description": "Merge-patch the order custom data map. Each key/value is capped at 2048 characters; a null value removes the property."
    },
    {
      "name": "Payments",
      "description": "Initiate a payment for an order. Entry point for starting a payment flow — the client picks a provider/payment method and supplies an idempotency key. Guest checkout is supported (no auth required)."
    },
    {
      "name": "Customers",
      "description": "A single address or order belonging to a customer."
    },
    {
      "name": "Estimate",
      "description": "Computes a cart estimate. `estimateType` selects the calculation: `tax` (tax rate for an address), `shipping` (available shipping rates), `price` (promotions + coupon + auto-rule discounts), or `order` (per-method totals including tax and shipping). No authentication required."
    },
    {
      "name": "Places",
      "description": "Origin-gated proxy to Google Places (New) and the Address Validation API. `action` selects the operation: `autocomplete`, `details`, or `validate`. Access is allowed only for requests whose Origin matches the site config."
    },
    {
      "name": "Auth",
      "description": "Clears the `auth_token` cookie and revokes the token if a valid one is presented (via cookie or bearer header). Always responds 204, even when no/invalid token is presented."
    },
    {
      "name": "Coupons",
      "description": "Retrieve, update, or delete a single coupon type."
    }
  ],
  "paths": {
    "/{org}/sites/{site}/config": {
      "parameters": [
        {
          "name": "org",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Organization identifier."
        },
        {
          "name": "site",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Site identifier."
        }
      ],
      "get": {
        "operationId": "getConfig",
        "summary": "Retrieve site configuration",
        "description": "Returns the stored configuration document for the org/site.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The site configuration document.",
            "headers": {
              "Content-Type": {
                "description": "application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Config"
                },
                "examples": {
                  "example": {
                    "value": {
                      "allowedOrigins": [
                        "https://example.com"
                      ],
                      "allowedDeliverySites": [
                        "main--site--org"
                      ],
                      "auth": {
                        "enabled": true
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No configuration exists for this org/site.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "not_found",
                      "message": "config not found",
                      "resource": "config"
                    }
                  }
                }
              }
            }
          }
        },
        "x-permissions": [
          "config:read"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Config"
        ]
      },
      "post": {
        "operationId": "updateConfig",
        "summary": "Create or replace site configuration",
        "description": "Validates and stores the configuration document, replacing any existing one.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Must be `application/json`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The stored configuration (echoed back).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Config"
                },
                "examples": {
                  "example": {
                    "value": {
                      "allowedOrigins": [
                        "https://example.com"
                      ],
                      "auth": {
                        "enabled": true
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The configuration failed schema validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "validation_failed",
                      "message": "invalid config",
                      "errors": [
                        {
                          "path": "$.allowedOrigins[0]",
                          "message": "condition 'pattern' failed"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Storage error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-permissions": [
          "config:write"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "The full configuration document to store.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Config"
              },
              "examples": {
                "example": {
                  "value": {
                    "allowedOrigins": [
                      "https://example.com"
                    ],
                    "auth": {
                      "enabled": true
                    },
                    "friendlyId": {
                      "prefix": "US-"
                    },
                    "geoOverrides": [
                      {
                        "country": "ca",
                        "friendlyId": {
                          "prefix": "CA-"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Config"
        ]
      },
      "delete": {
        "operationId": "deleteConfig",
        "summary": "Delete site configuration",
        "description": "Removes the configuration document for the org/site.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Configuration deleted (no content)."
          },
          "500": {
            "description": "Storage error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-permissions": [
          "config:write"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Config"
        ]
      }
    },
    "/{org}/sites/{site}/catalog": {
      "parameters": [
        {
          "name": "org",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Organization identifier."
        },
        {
          "name": "site",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Site identifier."
        }
      ],
      "post": {
        "operationId": "bulkCatalogOperation",
        "summary": "Bulk write products",
        "description": "Unified bulk catalog endpoint. Accepts an `{ items }` envelope and, by default, creates or updates (upserts) each product (max 50 per request). Every item is validated up front, so a single invalid product rejects the whole request and saves nothing. Always responds with a `results` array, one entry per item, including for single-item requests. A `delete: true` flag is reserved for bulk deletion in a future release.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Must be `application/json`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Per-item results for the bulk operation.",
            "headers": {
              "Content-Type": {
                "description": "application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "Bulk operation result: one entry per attempted item.",
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "description": "Outcome of a single product write or delete.",
                        "type": "object",
                        "properties": {
                          "sku": {
                            "description": "Product SKU.",
                            "type": "string"
                          },
                          "path": {
                            "description": "Product path.",
                            "type": "string"
                          },
                          "status": {
                            "description": "Per-product HTTP status (200 unchanged, 201 written).",
                            "type": "number"
                          },
                          "message": {
                            "description": "Optional human-readable detail.",
                            "type": "string"
                          },
                          "etag": {
                            "description": "Opaque strong validator of the written product (successful writes only).",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "status"
                        ]
                      }
                    }
                  },
                  "required": [
                    "results"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "results": [
                        {
                          "sku": "PROD-123",
                          "path": "/us/en/products/blender-pro-500",
                          "status": 200,
                          "message": "Product saved successfully."
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid envelope: non-object body, non-boolean delete, non-array items, too many items, or an invalid product.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "validation_failed",
                      "message": "invalid request",
                      "errors": [
                        {
                          "path": "$.items",
                          "message": "too many items",
                          "details": "maximum 50 per request"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "method_not_allowed",
                      "message": "method not allowed"
                    }
                  }
                }
              }
            }
          }
        },
        "x-permissions": [
          "catalog:write"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Bulk operation envelope with an `items` array of products to upsert.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Bulk operation envelope. Writes are the default; `delete: true` selects deletion.",
                "type": "object",
                "properties": {
                  "items": {
                    "description": "Products to create or update (max 50 per request).",
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ProductBus"
                    }
                  },
                  "delete": {
                    "description": "When true, the request is a bulk delete. Defaults to false (write).",
                    "type": "boolean"
                  }
                },
                "required": [
                  "items"
                ]
              },
              "examples": {
                "example": {
                  "value": {
                    "items": [
                      {
                        "sku": "PROD-123",
                        "name": "Blender Pro 500",
                        "path": "/us/en/products/blender-pro-500"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Catalog"
        ]
      },
      "get": {
        "operationId": "listCatalogProducts",
        "summary": "List catalog products",
        "description": "Returns a page of product summaries (sku, name, path). Pass a `cursor` (from a prior truncated response) to page through results.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of product summaries.",
            "headers": {
              "Content-Type": {
                "description": "application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "A page of catalog product summaries.",
                  "type": "object",
                  "properties": {
                    "products": {
                      "description": "Product summaries for this page.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sku": {
                            "description": "Product SKU.",
                            "type": "string"
                          },
                          "name": {
                            "description": "Product display name.",
                            "type": "string"
                          },
                          "path": {
                            "description": "Product path (without the .json suffix).",
                            "type": "string"
                          }
                        },
                        "required": [
                          "sku",
                          "name",
                          "path"
                        ]
                      }
                    },
                    "truncated": {
                      "description": "Whether more results are available beyond this page.",
                      "type": "boolean"
                    },
                    "cursor": {
                      "description": "Opaque cursor for the next page; present only when truncated.",
                      "type": "string"
                    }
                  },
                  "required": [
                    "products",
                    "truncated"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "products": [
                        {
                          "sku": "PROD-123",
                          "name": "Blender Pro 500",
                          "path": "/us/en/products/blender-pro-500"
                        }
                      ],
                      "truncated": false
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "method_not_allowed",
                      "message": "method not allowed"
                    }
                  }
                }
              }
            }
          }
        },
        "x-permissions": [
          "catalog:read"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Catalog"
        ]
      }
    },
    "/{org}/sites/{site}/catalog/{path}": {
      "parameters": [
        {
          "name": "org",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Organization identifier."
        },
        {
          "name": "site",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Site identifier."
        },
        {
          "name": "path",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Product path (e.g. `/us/en/products/blender-pro-500.json`), or the literal `*` for bulk writes."
        }
      ],
      "get": {
        "operationId": "getCatalogProduct",
        "summary": "Retrieve a product",
        "description": "Returns the stored ProductBus entry for the given path.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The stored product.",
            "headers": {
              "Content-Type": {
                "description": "application/json",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "Opaque strong validator for the stored product. Send it back as `If-Match` on a later write or delete for optimistic concurrency.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductBus"
                },
                "examples": {
                  "example": {
                    "value": {
                      "sku": "PROD-123",
                      "name": "Blender Pro 500",
                      "path": "/us/en/products/blender-pro-500"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The path is malformed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "validation_failed",
                      "message": "invalid request",
                      "errors": [
                        {
                          "path": "$.path",
                          "message": "invalid format"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-permissions": [
          "catalog:read"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Catalog"
        ]
      },
      "post": {
        "operationId": "bulkUpsertCatalogProducts",
        "summary": "Bulk create/replace products (deprecated)",
        "description": "Deprecated: use `POST /{org}/sites/{site}/catalog` (the collection root) instead, which shares one request/response envelope. Only valid at the literal `/*` path. Accepts an array of products (max 50); each is validated against the ProductBus schema and written. Unchanged products are skipped (reported with status 200).",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Must be `application/json`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Write results.",
            "headers": {
              "Content-Type": {
                "description": "application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "Write result. `product` is set for single-item writes, `products` for bulk writes.",
                  "type": "object",
                  "properties": {
                    "product": {
                      "description": "Outcome of a single product write or delete.",
                      "type": "object",
                      "properties": {
                        "sku": {
                          "description": "Product SKU.",
                          "type": "string"
                        },
                        "path": {
                          "description": "Product path.",
                          "type": "string"
                        },
                        "status": {
                          "description": "Per-product HTTP status (200 unchanged, 201 written).",
                          "type": "number"
                        },
                        "message": {
                          "description": "Optional human-readable detail.",
                          "type": "string"
                        },
                        "etag": {
                          "description": "Opaque strong validator of the written product (successful writes only).",
                          "type": "string"
                        }
                      },
                      "required": [
                        "path",
                        "status"
                      ]
                    },
                    "products": {
                      "type": "array",
                      "items": {
                        "description": "Outcome of a single product write or delete.",
                        "type": "object",
                        "properties": {
                          "sku": {
                            "description": "Product SKU.",
                            "type": "string"
                          },
                          "path": {
                            "description": "Product path.",
                            "type": "string"
                          },
                          "status": {
                            "description": "Per-product HTTP status (200 unchanged, 201 written).",
                            "type": "number"
                          },
                          "message": {
                            "description": "Optional human-readable detail.",
                            "type": "string"
                          },
                          "etag": {
                            "description": "Opaque strong validator of the written product (successful writes only).",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "status"
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "products": [
                        {
                          "sku": "PROD-123",
                          "path": "/us/en/products/blender-pro-500",
                          "status": 201
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request: not an array, too many products, missing path, or invalid product.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "validation_failed",
                      "message": "invalid request",
                      "errors": [
                        {
                          "path": "$",
                          "message": "too many products",
                          "details": "maximum 50 per request"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "405": {
            "description": "Method not allowed at this path.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "method_not_allowed",
                      "message": "method not allowed"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "x-permissions": [
          "catalog:write"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "Array of products to upsert. Each entry must include `path`.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ProductBus"
                }
              },
              "examples": {
                "example": {
                  "value": [
                    {
                      "sku": "PROD-123",
                      "name": "Blender Pro 500",
                      "path": "/us/en/products/blender-pro-500"
                    }
                  ]
                }
              }
            }
          }
        },
        "tags": [
          "Catalog"
        ]
      },
      "put": {
        "operationId": "upsertCatalogProduct",
        "summary": "Create or replace a product",
        "description": "Validates the product against the ProductBus schema and writes it. The `path` in the body, if present, must match the URL path. Supports `If-Match` / `If-None-Match` for optimistic-concurrency control; a successful write returns the new `ETag`.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Must be `application/json`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "description": "Conditional request. `\"<etag>\"` proceeds only if the current eTag matches; `*` proceeds only if the product exists. Returns `412` when unmet.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional request. `*` proceeds only if the product does not exist (create-only). Returns `412` when the product already exists.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Conditional update result (returned when an If-Match write succeeds).",
            "headers": {
              "Content-Type": {
                "description": "application/json",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "The new opaque strong validator for the stored product.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "Write result. `product` is set for single-item writes, `products` for bulk writes.",
                  "type": "object",
                  "properties": {
                    "product": {
                      "description": "Outcome of a single product write or delete.",
                      "type": "object",
                      "properties": {
                        "sku": {
                          "description": "Product SKU.",
                          "type": "string"
                        },
                        "path": {
                          "description": "Product path.",
                          "type": "string"
                        },
                        "status": {
                          "description": "Per-product HTTP status (200 unchanged, 201 written).",
                          "type": "number"
                        },
                        "message": {
                          "description": "Optional human-readable detail.",
                          "type": "string"
                        },
                        "etag": {
                          "description": "Opaque strong validator of the written product (successful writes only).",
                          "type": "string"
                        }
                      },
                      "required": [
                        "path",
                        "status"
                      ]
                    },
                    "products": {
                      "type": "array",
                      "items": {
                        "description": "Outcome of a single product write or delete.",
                        "type": "object",
                        "properties": {
                          "sku": {
                            "description": "Product SKU.",
                            "type": "string"
                          },
                          "path": {
                            "description": "Product path.",
                            "type": "string"
                          },
                          "status": {
                            "description": "Per-product HTTP status (200 unchanged, 201 written).",
                            "type": "number"
                          },
                          "message": {
                            "description": "Optional human-readable detail.",
                            "type": "string"
                          },
                          "etag": {
                            "description": "Opaque strong validator of the written product (successful writes only).",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "status"
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "product": {
                        "sku": "PROD-123",
                        "path": "/us/en/products/blender-pro-500",
                        "status": 200,
                        "etag": "\"9f0e\""
                      }
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Write result.",
            "headers": {
              "Content-Type": {
                "description": "application/json",
                "schema": {
                  "type": "string"
                }
              },
              "ETag": {
                "description": "The new opaque strong validator for the stored product.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "Write result. `product` is set for single-item writes, `products` for bulk writes.",
                  "type": "object",
                  "properties": {
                    "product": {
                      "description": "Outcome of a single product write or delete.",
                      "type": "object",
                      "properties": {
                        "sku": {
                          "description": "Product SKU.",
                          "type": "string"
                        },
                        "path": {
                          "description": "Product path.",
                          "type": "string"
                        },
                        "status": {
                          "description": "Per-product HTTP status (200 unchanged, 201 written).",
                          "type": "number"
                        },
                        "message": {
                          "description": "Optional human-readable detail.",
                          "type": "string"
                        },
                        "etag": {
                          "description": "Opaque strong validator of the written product (successful writes only).",
                          "type": "string"
                        }
                      },
                      "required": [
                        "path",
                        "status"
                      ]
                    },
                    "products": {
                      "type": "array",
                      "items": {
                        "description": "Outcome of a single product write or delete.",
                        "type": "object",
                        "properties": {
                          "sku": {
                            "description": "Product SKU.",
                            "type": "string"
                          },
                          "path": {
                            "description": "Product path.",
                            "type": "string"
                          },
                          "status": {
                            "description": "Per-product HTTP status (200 unchanged, 201 written).",
                            "type": "number"
                          },
                          "message": {
                            "description": "Optional human-readable detail.",
                            "type": "string"
                          },
                          "etag": {
                            "description": "Opaque strong validator of the written product (successful writes only).",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "status"
                        ]
                      }
                    }
                  }
                },
                "examples": {
                  "example": {
                    "value": {
                      "product": {
                        "sku": "PROD-123",
                        "path": "/us/en/products/blender-pro-500",
                        "status": 201
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Validation failure or body/URL path mismatch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "validation_failed",
                      "message": "invalid product",
                      "errors": [
                        {
                          "path": "$.sku",
                          "message": "is required"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "412": {
            "description": "A conditional request precondition (If-Match / If-None-Match) was not met.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "ADOBE_COMMERCE_PRECONDITION_FAILED",
                      "message": "precondition failed (etag mismatch)"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "A conditional storage write failed. The request may be retried.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "ADOBE_COMMERCE_INTERNAL_ERROR",
                      "message": "internal server error",
                      "retryable": true
                    }
                  }
                }
              }
            }
          }
        },
        "x-permissions": [
          "catalog:write"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "The product to store.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProductBus"
              },
              "examples": {
                "example": {
                  "value": {
                    "sku": "PROD-123",
                    "name": "Blender Pro 500",
                    "path": "/us/en/products/blender-pro-500"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Catalog"
        ]
      },
      "delete": {
        "operationId": "deleteCatalogProduct",
        "summary": "Delete a product",
        "description": "Deletes the product at the given path. Supports `If-Match` / `If-None-Match` for conditional deletes; a precondition miss returns `412` and the product is left in place.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-Match",
            "in": "header",
            "required": false,
            "description": "Conditional request. `\"<etag>\"` proceeds only if the current eTag matches; `*` proceeds only if the product exists. Returns `412` when unmet.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "If-None-Match",
            "in": "header",
            "required": false,
            "description": "Conditional request. `*` proceeds only if the product does not exist (create-only). Returns `412` when the product already exists.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deletion results.",
            "headers": {
              "Content-Type": {
                "description": "application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "description": "Outcome of a single product write or delete.",
                    "type": "object",
                    "properties": {
                      "sku": {
                        "description": "Product SKU.",
                        "type": "string"
                      },
                      "path": {
                        "description": "Product path.",
                        "type": "string"
                      },
                      "status": {
                        "description": "Per-product HTTP status (200 unchanged, 201 written).",
                        "type": "number"
                      },
                      "message": {
                        "description": "Optional human-readable detail.",
                        "type": "string"
                      },
                      "etag": {
                        "description": "Opaque strong validator of the written product (successful writes only).",
                        "type": "string"
                      }
                    },
                    "required": [
                      "path",
                      "status"
                    ]
                  }
                },
                "examples": {
                  "example": {
                    "value": [
                      {
                        "sku": "PROD-123",
                        "path": "/us/en/products/blender-pro-500",
                        "status": 200
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Wildcard delete attempted, or malformed path.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "bad_request",
                      "message": "wildcard delete is not supported"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The product was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "ADOBE_COMMERCE_NOT_FOUND",
                      "message": "product not found"
                    }
                  }
                }
              }
            }
          },
          "412": {
            "description": "A conditional request precondition (If-Match / If-None-Match) was not met.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "ADOBE_COMMERCE_PRECONDITION_FAILED",
                      "message": "precondition failed (etag mismatch)"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "A conditional storage delete failed. The request may be retried.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "ADOBE_COMMERCE_INTERNAL_ERROR",
                      "message": "internal server error",
                      "retryable": true
                    }
                  }
                }
              }
            }
          }
        },
        "x-permissions": [
          "catalog:write"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Catalog"
        ]
      }
    },
    "/{org}/sites/{site}/index": {
      "parameters": [
        {
          "name": "org",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Organization identifier."
        },
        {
          "name": "site",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Site identifier."
        }
      ],
      "get": {
        "operationId": "listIndices",
        "summary": "List query indices",
        "description": "Returns the registry of query indices, each with its last-modified timestamp.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The index registry.",
            "headers": {
              "Content-Type": {
                "description": "application/json",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "description": "The registry of query indices for a site.",
                  "type": "object",
                  "properties": {
                    "indices": {
                      "description": "Registered indices.",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "path": {
                            "description": "Index registry key (e.g. `/us/index.json`).",
                            "type": "string"
                          },
                          "lastModified": {
                            "description": "ISO-8601 timestamp of the last modification.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "path",
                          "lastModified"
                        ]
                      }
                    }
                  },
                  "required": [
                    "indices"
                  ]
                },
                "examples": {
                  "example": {
                    "value": {
                      "indices": [
                        {
                          "path": "/index.json",
                          "lastModified": "2026-01-01T00:00:00.000Z"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "x-permissions": [
          "index:read"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Indices"
        ]
      }
    },
    "/{org}/sites/{site}/index/{path}": {
      "parameters": [
        {
          "name": "org",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Organization identifier."
        },
        {
          "name": "site",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Site identifier."
        },
        {
          "name": "path",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Index path, must end with `/index.json` (e.g. `/us/index.json`)."
        }
      ],
      "post": {
        "operationId": "createIndex",
        "summary": "Create a query index",
        "description": "Creates a query index for the given path. The index path is the directory portion of the URL (the trailing `/index.json` is stripped). No request body.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Index created (no content)."
          },
          "400": {
            "description": "Path is missing, does not end with `/index.json`, or is otherwise invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "validation_failed",
                      "message": "invalid request",
                      "errors": [
                        {
                          "path": "$.path",
                          "message": "must end with /index.json"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "Index already exists, or the registry was modified concurrently.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "already_exists",
                      "message": "index already exists",
                      "resource": "index"
                    }
                  }
                }
              }
            }
          },
          "502": {
            "description": "Registry or index storage update failed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "upstream_error",
                      "message": "upstream error",
                      "retryable": true
                    }
                  }
                }
              }
            }
          }
        },
        "x-permissions": [
          "index:write"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Indices"
        ]
      },
      "delete": {
        "operationId": "deleteIndex",
        "summary": "Delete a query index",
        "description": "Deletes the query index for the given path and removes it from the registry.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Index deleted (no content)."
          },
          "400": {
            "description": "Path is missing or does not end with `/index.json`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "validation_failed",
                      "message": "invalid request",
                      "errors": [
                        {
                          "path": "$.path",
                          "message": "must end with /index.json"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No index exists at the given path.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "not_found",
                      "message": "index not found",
                      "resource": "index"
                    }
                  }
                }
              }
            }
          }
        },
        "x-permissions": [
          "index:write"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Indices"
        ]
      }
    },
    "/{org}/sites/{site}/orders": {
      "parameters": [
        {
          "name": "org",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Organization identifier."
        },
        {
          "name": "site",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Site identifier."
        }
      ],
      "get": {
        "operationId": "listOrders",
        "summary": "List orders",
        "description": "Returns orders for the org/site, optionally filtered by creation time range and state. Admin-only.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`. Must carry the `admin` role.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The matching orders.",
            "headers": {
              "Content-Type": {
                "description": "application/json",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks the orders:read permission, the admin role, or org/site mismatch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-permissions": [
          "orders:read"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Orders"
        ]
      },
      "post": {
        "operationId": "createOrder",
        "summary": "Create an order",
        "description": "Validates the order, verifies item prices/countries (or a signed estimateToken locking in tax/shipping/discounts), creates the customer if needed, and persists the order. The optional customerTimezone field stores the shopper browser timezone for customer-facing uses, such as formatting order confirmation email timestamps. reCAPTCHA-gated for unauthenticated callers.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. `Bearer <jwt>`. Optional — guest checkout is supported.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Must be `application/json`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Recaptcha-Token",
            "in": "header",
            "required": false,
            "description": "reCAPTCHA Enterprise token; required for unauthenticated callers.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The created order, wrapped as `{ order }`.",
            "headers": {
              "Content-Type": {
                "description": "application/json",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The order failed schema validation, or the estimateToken was invalid/expired/mismatched.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "validation_failed",
                      "message": "invalid order",
                      "errors": [
                        {
                          "path": "$.items",
                          "message": "is required"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Authenticated caller lacks orders:write, has an org/site mismatch, or email mismatch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "An unauthorized free ($0) item was requested beyond the estimate token grant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "unprocessable",
                      "message": "unprocessable",
                      "details": {
                        "rule": "unauthorized_free_item"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-permissions": [
          "orders:write"
        ],
        "requestBody": {
          "description": "The order to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Order"
              },
              "examples": {
                "example": {
                  "value": {
                    "customer": {
                      "email": "jane@example.com",
                      "firstName": "Jane",
                      "lastName": "Doe"
                    },
                    "shipping": {
                      "name": "Jane Doe",
                      "email": "jane@example.com",
                      "address1": "123 Main St",
                      "city": "Anytown",
                      "state": "CA",
                      "zip": "12345",
                      "country": "US"
                    },
                    "country": "us",
                    "locale": "en-US",
                    "customerTimezone": "America/Los_Angeles",
                    "items": [
                      {
                        "name": "Product 1",
                        "sku": "sku1",
                        "path": "product-1",
                        "quantity": 1,
                        "price": {
                          "final": "100",
                          "currency": "USD"
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Orders"
        ]
      }
    },
    "/{org}/sites/{site}/orders/{orderId}": {
      "parameters": [
        {
          "name": "org",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Organization identifier."
        },
        {
          "name": "site",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Site identifier."
        },
        {
          "name": "orderId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Order identifier (full or friendly id)."
        }
      ],
      "get": {
        "operationId": "getOrder",
        "summary": "Retrieve an order",
        "description": "Returns the order. Non-admin/non-service callers may only read their own order (matched on customer email).",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The order, wrapped as `{ order }`.",
            "headers": {
              "Content-Type": {
                "description": "application/json",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks orders:read, org/site mismatch, or email mismatch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No order with this id (visible to the caller).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "not_found",
                      "message": "order not found",
                      "resource": "order"
                    }
                  }
                }
              }
            }
          }
        },
        "x-permissions": [
          "orders:read"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Orders"
        ]
      },
      "delete": {
        "operationId": "deleteOrder",
        "summary": "Delete an order",
        "description": "Not implemented — always returns 501.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "403": {
            "description": "Caller lacks orders:write or has an org/site mismatch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "501": {
            "description": "Order deletion is not implemented.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "not_implemented",
                      "message": "not implemented"
                    }
                  }
                }
              }
            }
          }
        },
        "x-permissions": [
          "orders:write"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Orders"
        ]
      }
    },
    "/{org}/sites/{site}/orders/preview": {
      "parameters": [
        {
          "name": "org",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Organization identifier."
        },
        {
          "name": "site",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Site identifier."
        }
      ],
      "post": {
        "operationId": "previewOrder",
        "summary": "Estimate an order",
        "description": "Computes tax, shipping, and discounts for the cart against the selected shipping method and returns a signed estimateToken. reCAPTCHA-gated for unauthenticated callers.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. `Bearer <jwt>`. Optional.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Must be `application/json`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Recaptcha-Token",
            "in": "header",
            "required": false,
            "description": "reCAPTCHA Enterprise token; required for unauthenticated callers.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The estimate: subtotal, tax, shipping method, discounts, total, lineItems, and a signed estimateToken.",
            "headers": {
              "Content-Type": {
                "description": "application/json",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The preview body failed validation, shippingMethod.id is missing, or the selected method is unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "validation_failed",
                      "message": "invalid order",
                      "errors": [
                        {
                          "path": "$.shippingMethod.id",
                          "message": "is required"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "An unauthorized free ($0) item was requested with no matching free-item grant.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "unprocessable",
                      "message": "unprocessable",
                      "details": {
                        "rule": "unauthorized_free_item"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "The cart to estimate. `shippingMethod.id` is required.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PreviewOrder"
              },
              "examples": {
                "example": {
                  "value": {
                    "locale": "en-US",
                    "items": [
                      {
                        "sku": "sku1",
                        "path": "product-1",
                        "quantity": 1,
                        "price": {
                          "final": "100",
                          "currency": "USD"
                        }
                      }
                    ],
                    "shipping": {
                      "country": "US",
                      "state": "CA",
                      "zip": "12345"
                    },
                    "shippingMethod": {
                      "id": "standard-us"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Orders"
        ]
      }
    },
    "/{org}/sites/{site}/orders/{orderId}/custom": {
      "parameters": [
        {
          "name": "org",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Organization identifier."
        },
        {
          "name": "site",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Site identifier."
        },
        {
          "name": "orderId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Order identifier (full or friendly id)."
        }
      ],
      "patch": {
        "operationId": "updateOrderCustom",
        "summary": "Patch order custom data",
        "description": "Merges the request body into the order custom data. Keys with a null value are removed. Each key and value is limited to 2048 characters.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Must be `application/json`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The updated order, wrapped as `{ order }`.",
            "headers": {
              "Content-Type": {
                "description": "application/json",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The custom data failed validation (non-object, non-string value, or over the 2048-char limit).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "validation_failed",
                      "message": "invalid request",
                      "errors": [
                        {
                          "path": "$.custom",
                          "message": "custom data must be an object"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Caller lacks orders:custom:write or has an org/site mismatch.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No order with this id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "not_found",
                      "message": "order not found",
                      "resource": "order"
                    }
                  }
                }
              }
            }
          }
        },
        "x-permissions": [
          "orders:custom:write"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "A flat map of custom keys to string values (or null to delete).",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": true
              },
              "examples": {
                "example": {
                  "value": {
                    "giftWrap": "true",
                    "internalNote": "priority",
                    "staleKey": null
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Orders"
        ]
      }
    },
    "/{org}/sites/{site}/orders/{orderId}/payments": {
      "parameters": [
        {
          "name": "org",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Organization identifier."
        },
        {
          "name": "site",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Site identifier."
        },
        {
          "name": "orderId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Order identifier (full or friendly id)."
        }
      ],
      "post": {
        "operationId": "initiatePayment",
        "summary": "Initiate a payment",
        "description": "Validates the request, looks up the payment provider, enforces the pending order-state guard (with idempotent replay), and delegates to the provider. Returns the provider result (synchronous charge outcome or a requires_action redirect). No authentication required.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": false,
            "description": "Bearer token. `Bearer <jwt>`. Optional — guest checkout is supported.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Must be `application/json`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The provider result (terminal charge outcome or a requires_action redirect).",
            "headers": {
              "Content-Type": {
                "description": "application/json",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Missing required body field, unknown provider, or provider-specific input validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "validation_failed",
                      "message": "invalid request",
                      "errors": [
                        {
                          "path": "$",
                          "message": "missing provider"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No order with this id.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "not_found",
                      "message": "order not found",
                      "resource": "order"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Order not payable (not pending), provider not configured, max attempts exceeded, or provider rejection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "unprocessable",
                      "message": "unprocessable",
                      "retryable": false,
                      "details": {
                        "rule": "order_not_payable",
                        "state": "payment_completed"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "PAYMENT_ENCRYPTION_KEY is not configured (misconfigured).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "502": {
            "description": "The payment provider returned an upstream error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "Attempt persistence failed after retries for a redirect provider; retry with the same idempotencyKey.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "requestBody": {
          "description": "Payment initiation request. `provider`, `paymentMethod`, and `idempotencyKey` are required; `fraudToken` is the optional fraud SDK session token.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "provider": {
                    "description": "Registered provider name (e.g. chase, chase-wallet, paypal, paypal-express, affirm).",
                    "type": "string"
                  },
                  "paymentMethod": {
                    "description": "Payment method (e.g. card, wallet).",
                    "type": "string"
                  },
                  "idempotencyKey": {
                    "description": "Caller-supplied idempotency key; replays return the prior result.",
                    "type": "string"
                  },
                  "fraudToken": {
                    "description": "Optional fraud-provider JS SDK session token.",
                    "type": "string"
                  }
                },
                "required": [
                  "provider",
                  "paymentMethod",
                  "idempotencyKey"
                ],
                "additionalProperties": true
              },
              "examples": {
                "example": {
                  "value": {
                    "provider": "chase",
                    "paymentMethod": "card",
                    "idempotencyKey": "idem-9f2c1a"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Payments"
        ]
      }
    },
    "/{org}/sites/{site}/customers": {
      "parameters": [
        {
          "name": "org",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Organization identifier."
        },
        {
          "name": "site",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Site identifier."
        }
      ],
      "get": {
        "operationId": "listCustomers",
        "summary": "List customers",
        "description": "Returns customers for the org/site. Paginated via an opaque `cursor` when the R2 page is truncated.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of customers (and an optional pagination cursor).",
            "headers": {
              "Content-Type": {
                "description": "application/json",
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-permissions": [
          "customers:read"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Customers"
        ]
      },
      "post": {
        "operationId": "createCustomer",
        "summary": "Create a customer",
        "description": "Validates and stores a new customer. Often called unauthenticated during checkout.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Must be `application/json`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The created customer."
          },
          "400": {
            "description": "The customer failed schema validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "validation_failed",
                      "message": "invalid customer",
                      "errors": [
                        {
                          "path": "$.email",
                          "message": "condition 'pattern' failed"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "409": {
            "description": "A customer with this email already exists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "already_exists",
                      "message": "customer already exists",
                      "resource": "customer"
                    }
                  }
                }
              }
            }
          }
        },
        "x-permissions": [
          "customers:write"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "The customer to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Customer"
              },
              "examples": {
                "example": {
                  "value": {
                    "firstName": "Jane",
                    "lastName": "Doe",
                    "email": "jane@example.com"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Customers"
        ]
      }
    },
    "/{org}/sites/{site}/customers/{email}": {
      "parameters": [
        {
          "name": "org",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Organization identifier."
        },
        {
          "name": "site",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Site identifier."
        },
        {
          "name": "email",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Customer email address."
        }
      ],
      "get": {
        "operationId": "getCustomer",
        "summary": "Retrieve a customer",
        "description": "Returns the customer. Requires ownership of the email and membership of the org/site (no `customers:read` permission).",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer document."
          },
          "404": {
            "description": "No customer exists for this email.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "not_found",
                      "message": "customer not found",
                      "resource": "customer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Customers"
        ]
      },
      "delete": {
        "operationId": "deleteCustomer",
        "summary": "Delete a customer",
        "description": "Removes the customer. Admin role required.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The customer was deleted."
          },
          "404": {
            "description": "No email supplied in the path.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "not_found",
                      "message": "customer not found",
                      "resource": "customer"
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Customers"
        ]
      }
    },
    "/{org}/sites/{site}/customers/{email}/{subroute}": {
      "parameters": [
        {
          "name": "org",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Organization identifier."
        },
        {
          "name": "site",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Site identifier."
        },
        {
          "name": "email",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "description": "Customer email address."
        },
        {
          "name": "subroute",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "enum": [
              "addresses",
              "orders"
            ]
          },
          "description": "Either `addresses` or `orders`."
        }
      ],
      "get": {
        "operationId": "listCustomerSubresources",
        "summary": "List addresses or orders",
        "description": "Lists the customer's addresses (`subroute=addresses`) or orders (`subroute=orders`). Listing orders requires `orders:read`; both require ownership of the email.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The list of addresses or orders."
          }
        },
        "x-permissions": [
          "orders:read"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "tags": [
          "Customers"
        ]
      },
      "post": {
        "operationId": "createCustomerAddress",
        "summary": "Create an address",
        "description": "Creates an address for the customer (`subroute=addresses` only). Requires ownership of the email.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "description": "Bearer token. `Bearer <jwt>`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Must be `application/json`.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The created address."
          },
          "400": {
            "description": "The address failed schema validation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                },
                "examples": {
                  "example": {
                    "value": {
                      "code": "validation_failed",
                      "message": "invalid address",
                      "errors": [
                        {
                          "path": "$.country",
                          "message": "is required"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "description": "The address to create.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Address"
              },
              "examples": {
                "example": {
                  "value": {
                    "name": "John Doe",
                    "email": "john@example.com",
                    "address1": "123 Main St",
                    "city": "Anytown",
                    "state": "CA",
                    "zip": "12345",
                    "country": "US"
                  }
                }
              }
            }
          }
        },
[...]
